
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRaceLabel">Create or edit a Race</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" for="field_raceId">Race Id</label>
            <input type="text" class="form-control" name="raceId" id="field_raceId"
                    ng-model="vm.race.raceId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petCategoryId">Pet Category Id</label>
            <input type="text" class="form-control" name="petCategoryId" id="field_petCategoryId"
                    ng-model="vm.race.petCategoryId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petCategoryName">Pet Category Name</label>
            <input type="text" class="form-control" name="petCategoryName" id="field_petCategoryName"
                    ng-model="vm.race.petCategoryName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_numOfPets">Num Of Pets</label>
            <input type="number" class="form-control" name="numOfPets" id="field_numOfPets"
                    ng-model="vm.race.numOfPets"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                    ng-model="vm.race.length"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.race.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_winnerId">Winner Id</label>
            <input type="text" class="form-control" name="winnerId" id="field_winnerId"
                    ng-model="vm.race.winnerId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_startTime">Start Time</label>
                <div class="input-group">
                    <input id="field_startTime" type="text" class="form-control" name="startTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.race.startTime" is-open="vm.datePickerOpenStatus.startTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('startTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_endTime">End Time</label>
                <div class="input-group">
                    <input id="field_endTime" type="text" class="form-control" name="endTime" uib-datepicker-popup="{{dateformat}}" ng-model="vm.race.endTime" is-open="vm.datePickerOpenStatus.endTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('endTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_baseSpeed">Base Speed</label>
            <input type="number" class="form-control" name="baseSpeed" id="field_baseSpeed"
                    ng-model="vm.race.baseSpeed"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
