
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPetLabel">Create or edit a Pet</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.pet.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.pet.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petId">Pet Id</label>
            <input type="text" class="form-control" name="petId" id="field_petId"
                    ng-model="vm.pet.petId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.pet.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.pet.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petCategoryName">Pet Category Name</label>
            <input type="text" class="form-control" name="petCategoryName" id="field_petCategoryName"
                    ng-model="vm.pet.petCategoryName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petCategoryId">Pet Category Id</label>
            <input type="text" class="form-control" name="petCategoryId" id="field_petCategoryId"
                    ng-model="vm.pet.petCategoryId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_petSpeed">Pet Speed</label>
            <input type="number" class="form-control" name="petSpeed" id="field_petSpeed"
                    ng-model="vm.pet.petSpeed"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
