<div class="left_col scroll-view">

    <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title">K8s For Greeks</a>
    </div>

    <br>
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
            <h3>Stuff</h3>
            <ul class="nav side-menu">
                <li><a ui-sref="home"><i class="fa fa-home"></i> Home </a></li>
                <li has-authority="ROLE_USER"><a class="col-menu"><i class="fa fa-bar-chart-o"></i> Beautiful Data <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a href="chartjs.html">Chart JS</a></li>
                        <li><a href="chartjs2.html">Chart JS2</a></li>
                        <li><a href="morisjs.html">Moris JS</a></li>
                        <li><a href="echarts.html">ECharts </a></li>
                        <li><a href="other_charts.html">Other Charts </a></li>
                    </ul>
                </li>
                <li has-authority="ROLE_ADMIN"><a class="col-menu"><i class="fa fa-edit"></i> Entities <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a ui-sref="data-counter">Data Counters</a></li>
                        <li><a ui-sref="race">Races</a></li>
                        <li><a ui-sref="race-result">Race Results</a></li>
                        <li><a ui-sref="race-data">Race Data</a></li>
                        <li><a ui-sref="race-participant">Race Participants</a></li>
                        <li><a ui-sref="race-normal">Race Normals</a></li>
                        <li><a ui-sref="pet">Pets</a></li>
                        <li><a ui-sref="pet-category">Pet Categories</a></li>
                        <li><a ui-sref="metric">Metrics</a></li>
                    </ul>
                </li>
                <li has-authority="ROLE_ADMIN" >
                    <a class="col-menu"><i class="fa fa-group"></i> Administration <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a ui-sref="user-management">User Management</a></li>
                        <li><a ui-sref="jhi-tracker">User Tracker</a></li>
                        <li><a ui-sref="jhi-metrics">Metrics</a></li>
                        <li><a ui-sref="jhi-health">Health</a></li>
                        <li><a ui-sref="jhi-configuration">Configurations</a></li>
                        <li><a ui-sref="audits">Audits</a></li>
                        <li><a ui-sref="logs">Logs</a></li>
                        <li><a ui-sref="docs">Documents</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
    </div>
</div>
</div>
